[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".nvim/bundle/vundle"]
	path = .nvim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
