# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.coffee':
  'Header Comment':
    'prefix': 'hc'
    'body': """
      #
      # ${1:FileName}
      #
      # ${2:Description}
      #
      # @author ${3:Author}
      #
    """
  'Function Comment':
    'prefix': 'fc'
    'body': """
      # ${1:Description}
      #
      # @param  ${2:VariableName} [${3:VariableType}] ${4:VariableDescription}
      # @return [${5:ReturnType}] ${6:ReturnDescription}
      #
    """
